<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>CONTACTOS</title>
</head>

<body style="background-color:#8cfcfc;">
    {% block body %}
    <center>
        <h1>
            Cliente
        </h1>
        <br><br>

        <!-- CAJA DE TEXTO PARA LAS TAREAS --->
        <form action="/registros" method="POST">
            <input type="text" name="Nombre_Cliente" placeholder="Nombre">
            <input type="number" name="Cliente_Telefono" placeholder="Telfono">
            <select name="Cliente_estado">
                <option></option>
                <option value="Normal">Normal</option>
                <option value="Caso">Caso</option>
                <option value="Cercano">Cercano</option>
            </select>
            <br><br>
            <!-- BOTON PARA MOSTRAR TAREAS -->
            <button type="sbmit">Ingresar</button>
        </form>
        <br>

        <!--Para ir a la pagina Sesion-->
        <form>
            <a href="Sesion"><input type="button" value="Iniciar Sesion"></a> 
        </form>
        <br>
        <br>

        <!--
            <br> {% for i in Datos_Cliente %}
            <li>{{ i }}</li>
         {% endfor %}        -->



    </center>

    {% endblock %}

</body>

<!-- JavaScript Bundle with Popper --->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>

</html>